<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div id="navbar">
            <a href="/">Membership Club</a>
            <% if (user) { %>
            <div id="nav-items">
                <h4>Hi, <%= user.full_name %></h4>
                <a href="/logout">Log out</a>
            </div>
            <% } else { %>
            <div id="nav-items">
                <a href="/signup">Sign up</a>
                <a href="/login">Log in</a>
            </div>
            <% } %>
        </div>
        <div id="main">
            <div id="board">
                <h1><%= title %></h1>
                <p>Welcome to <%= title %></p>
                <% if (user) { %>
                <a href="/message">New Message</a>
                <% } else { %>
                <p>Log in to send a message</p>
                <% } %>
                <div id="messages">
                    <% messages.forEach(msg => { %>
                    <div class="msg">
                        <h3><%= msg.title %></h3>
                        <p><%= msg.content %></p>
                        <% if (user) { %>
                        <p>Time: <%= msg.timestamp %></p>
                        <p>Author: <%= msg.user.full_name %></p>
                        <% } else { %>
                        <p>Time: Log in to see!</p>
                        <p>Author: Log in to see!</p>
                        <% } %>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <footer>Mykyta Medvediev, 2022</footer>
    </body>
</html>
